<div class="page-container">
  <h1>Edit <%= current_user.first_name %>'s profile</h1>

  <%= form_for current_user, url: user_path(current_user), html: { method: :patch, multipart: true } do |f| %>

    <!-- File input for profile picture -->

   <% end %>
  <%= form_with(model: @user, local: true) do |form| %>
  <%= form.file_field :profile_image %>
  <%= form.submit 'Upload Image' %>
<% end %>

</div>
