<div class="page-container">
  <h2>Tyred</h2>
  <p>Don't lose sleep over your bike</p>
  <br />
  <br />
  <div class="login" data-controller="login">
    <button data-action="click->login#revealLogin">Login</button>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs d-none" data-login-target="loginform" >
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
    <%# <%= render "devise/shared/links" %>
  </div>

  <div class="signup" data-controller="login">
    <button data-action="click->login#revealSignup">Sign Up</button>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs d-none" data-login-target="signupform">
      <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
      <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
    <%# <%= render "devise/shared/links" %>
  </div>
</div>
