<div class="page-container" data-controller="progress-bar" data-progress-bar-url-value="<%= bike_bike_component_url(@bike, @bike_component) %>" data-progress-bar-time-value="<%= @bike_component.time_until_check %>" data-progress-bar-distance-value="<%= @bike_component.distance_until_check %>">

  <div class="comp-show-page-header">

    <div class="back-btn-container">
      <%= link_to :back do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="comp-show-title">
      <h1>My <%= @bike_component.component.name %></h1>
    </div>

  </div>

  <div class="comp-show-prog-container">

    <div class="comp-show-img-text">
      <div class="component-card-image" style="width: 200px !important">
        <%= cl_image_tag(@bike_component.component.icon.key, class:"bike-component-image") %>
      </div>
      <p style="text-align: left; font-size: 18px; margin: 0; padding-left: 16px;">
        Your <%= @bike_component.component.name.downcase %> is set to be checked  every <span style="font-weight: bold;"><%= @bike_component.component.time_until_check %> weeks</span> or every <span style="font-weight: bold;"><%= @bike_component.distance_until_check.round %> km</span>
      </p>
    </div>

    <div class="comp-show-mini-card">
      <h2 data-progress-bar-target="time">
        <% if @bike_component.weeks_left > 2 %>
          <%= @bike_component.weeks_left.to_i %> weeks until check
        <% elsif @bike_component.weeks_left > 0 && @bike_component.weeks_left <= 2 %>
          <%= @bike_component.days_left.to_i %> days until check
        <% else %>
          <span style="color: #D1001F"><%= @bike_component.component.time_until_check %> weeks up! Check now!</span>
        <% end %>
      </h2>

      <div class="progress">
        <div class="progress-bar" role="progressbar" data-progress-bar-target="bar" style="width: <%= @bike_component.time_progress_percentage %>%" aria-valuenow="<%= @bike_component.time_progress_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="comp-show-mini-card">
      <h2 data-progress-bar-target="distance">
        <% distance_percentage = @bike_component.distance_progress_percentage %>
        <% if distance_percentage < 1%>
          <%= @bike_component.distance_until_check.round %> km ridden! Check now!
        <% else %>
          <%= @bike_component.distance_left.round %> km until check
        <% end %>

      </h2>

      <div class="progress">
        <div class="progress-bar" role="progressbar" data-progress-bar-target="distance_bar" style="width: <%= distance_percentage %>%" aria-valuenow="<%= distance_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

  <button class="custom-btn green" style="margin-top: 32px" data-action="click->progress-bar#reset">I've Checked My <%= @bike_component.component.name %></button>

  <details>
    <summary style="font-weight: 700; font-size: 16px;">How to check my <%= @bike_component.component.name.downcase %></summary>
    <div>
    <% if @bike_component.component.check_img.attached? %>
      <%= cl_image_tag @bike_component.component.check_img.key, class:"img-thumbnail"%>
    <% else %>
      <%= image_tag "https://www.rei.com/dam/content_022717_0222_bike_basics_inspection_lg.jpg", :class => "img-thumbnail" %>
    <% end %>
    </div>
    <p><%= raw @bike_component.component.check_advice %></p>
  </details>
  <p style="margin-top: 24px;">If you feel this <%= @bike_component.component.name.downcase %> needs replacing, either replace it yourself or if you would like some expert help, find local Bike Shops with our tool below!</p>

</div>
