<div class="page-container" data-controller="progress-bar" data-progress-bar-url-value="<%= bike_bike_component_url(@bike, @bike_component) %>" data-progress-bar-time-value="<%= @bike_component.time_until_check %>">

  <div class="comp-show-page-header">

    <div class="back-btn-container">
      <%= link_to :back do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="comp-show-title">
      <h1><%= @bike_component.component.name %></h1>
    </div>

  </div>

  <div class="comp-show-prog-container">
    <h2 data-progress-bar-target="time">
      <% if @bike_component.weeks_left > 2 %>
        <%= @bike_component.weeks_left.to_i %> weeks until check
      <% elsif @bike_component.weeks_left > 0 && @bike_component.weeks_left <= 2 %>
        <%= @bike_component.days_left.to_i %> days until check
      <% else %>
        Check now!
      <% end %>
    </h2>

    <div class="progress">
      <div class="progress-bar" role="progressbar" data-progress-bar-target="bar" style="width: <%= @bike_component.time_progress_percentage %>%" aria-valuenow="<%= @bike_component.time_progress_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

  </div>

 <button class="custom-btn green my-4" data-action="click->progress-bar#reset">I've Checked My <%= @bike_component.component.name %></button>

  <div data-controller="toggle-advice" data-toggle-advice-component-value="<%= @bike_component.component.name %>">
  <button data-action="click->toggle-advice#fire" data-toggle-advice-target="button" class="custom-btn green my-2">Show Me How To Check My <%= @bike_component.component.name %></button>
    <div data-toggle-advice-target="togglableElement" class="d-none check-advise">
    <div class="comp-advise-image"></div>
    <p><%= @bike_component.component.check_advice %></p>
    <p>If you feel this component needs replacing, either replace it yourself or use our handy Bike Shop Locator tool below!</p>
    <%= link_to "Bike Shop Locator", bike_shops_path, class: "custom-btn green"%>
    </div>
  </div>
</div>




    <%# <% @bike.bike_components.each do |bike_component| %>
      <%# <p>Total Cumulative Time: <%= bike_component.component&.time_until_check</p> %>
      <%# <p>Total Cumulative Distance: <%= bike_component.component&.distance_until_check</p> %>
