<div class="page-container">

  <h1>Edit Bike</h1>

  <div>
    <%= simple_form_for @bike do |f| %>
      <%= f.input :make, label: 'Make' %>
      <%= f.input :model, label: 'Model' %>
      <% if @bike.photo.attached? %>
        <%= cl_image_tag @bike.photo.key, height: 100 %>
      <% end %>
      <%= f.input :photo, as: :file, required: false, label: 'Current photo' %>
      <%= f.submit value: 'Confirm Changes', class: 'custom-btn green' %>
    <% end %>
  </div>

  <div data-controller="delete-check">
    <button data-action="click->delete-check#delete_bike", class="custom-btn red">
      Delete This Bike
    </button>
    <%# this link is triggered by stimulus (delete-check) %>
    <%= link_to "", bike_path(@bike), data: { 'delete-check-target' => "link", turbo_method: :delete } %>
  </div>

  <div class="mt-3 mb-3">
    <%= link_to "Return To My Garage", bikes_path %>
  </div>
</div>
