<div class="page-container">

  <h1><%= current_user.first_name%>'s Bike Garage</h1>

  <% @bikes.each do |bike| %>
    <div class="bike-card">

      <div class="bike-image-container">
        <% if bike.photo.attached? %>
          <%= cl_image_tag(bike.photo.key, class:"img-thumbnail") %>
        <% else %>
          <%= image_tag "https://i.etsystatic.com/19543171/r/il/f13c94/4513785165/il_fullxfull.4513785165_h290.jpg" %>
        <% end %>
      </div>

      <div class="bike-name">
        <% if bike.make != "" && bike.model != "" %>
          <h2> <%= bike.make %> <%= bike.model %> </h2>
        <% elsif bike.make != "" && bike.model == "" %>
          <h2> <%= bike.make %> </h2>
        <% elsif bike.make == "" && bike.model != "" %>
          <h2> <%= bike.model %> </h2>
        <% else %>
          <h2>My Bike</h2>
        <% end %>
      </div>

      <% bike.components.each do |component| %>
        <div class="component-card">
            <p> <%= component.name %> </p>
            <p>Time left until check:</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= @time_progress_percentage %>%" aria-valuenow="<%= @time_progress_percentage %>" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar-text">
                  <% if @weeks_left > 2%>
                    <p> <%= @weeks_left.to_i %> weeks </p>
                  <% elsif @weeks_left > 0 && @weeks_left <= 2 %>
                    <p> <%= @days_left.to_i %> days </p>
                  <% else %>
                    <p> Check now! </p>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      <% end %>

      <%# <div>
        <%= cl_image_tag(bike.components.icon.key, class:"img-thumbnail") %>
      <%# </div> %>

      <p> <%= link_to "Add Component", new_bike_bike_component_path(bike) %> </p>
      <p> <%= link_to "Edit Bike", edit_bike_path(bike) %> </p>
      <p> <%= link_to "Add a Bike", new_bike_path %> </p>

    </div>
  <% end %>

</div>
