<div class="page-container">

  <h1>My Garage</h1>

  <div class ="container-sm">
    <% @bikes.each do |bike| %>
    <div>
        <% if bike.photo.attached? %>
          <%= cl_image_tag(bike.photo.key, class:"img-thumbnail") %>
        <% else %>
          <%= image_tag "https://i.etsystatic.com/19543171/r/il/f13c94/4513785165/il_fullxfull.4513785165_h290.jpg" %>
         <% end %>
    </div>

      <% if bike.make != "" && bike.model != "" %>
        <h2>My <%= bike.make %> <%= bike.model %></h2>
      <% elsif bike.make != "" && bike.model == "" %>
        <h2>My <%= bike.make %></h2>
      <% elsif bike.make == "" && bike.model != "" %>
        <h2>My <%= bike.model %></h2>
      <% else %>
        <h2>My Bike</h2>
      <% end %>

      <% bike.bike_components.each do |bike_component| %>
    <div>
      <%= bike_component.component.name %>
      <%= cl_image_tag(bike_component.component.icon.key, class:"img-thumbnail") %>
      <% end %>
    </div>
      <%= link_to "Add Component", new_bike_bike_component_path(bike) %>
      <%= link_to "Edit Bike Make/Model", edit_bike_path(bike) %>
    <% end %>
    <h2>Add a Bike</h2>
    <%= link_to "+", new_bike_path %>
  </div>

</div>
