<div class="page-container">

  <h1>My Garage</h1>

<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
<% @bikes.each_with_index do |bike, index|  %>
  <li class="nav-item" role="presentation">
    <button class="nav-link custom-btn <%= "active" if index == 0 %>" id="pills-<%= index %>-tab" data-bs-toggle="pill" data-bs-target="#pills-<%= index %>" type="button" role="tab" aria-controls="pills-<%= index %>" aria-selected="true"><%= index + 1 %></button>
  </li>
  <% end %>
</ul>

<div class="tab-content" id="pills-tabContent">
<% @bikes.each_with_index do |bike, index|  %>
  <div class="tab-pane fade show <%= "active" if index == 0 %>" id="pills-<%= index %>" role="tabpanel" aria-labelledby="pills-<%= index %>-tab" tabindex="0">

  <div class="bike-card">

      <div class="bike-image-container">
        <% if bike.photo.attached? %>
          <%= cl_image_tag(bike.photo.key, class:"img-thumbnail") %>
        <% else %>
          <%= image_tag "https://i.etsystatic.com/19543171/r/il/f13c94/4513785165/il_fullxfull.4513785165_h290.jpg" %>
        <% end %>
      </div>

      <div class="bike-name">
        <% if bike.make != "" && bike.model != "" %>
          <h2 class="py-3"> <%= bike.make %> <%= bike.model %> </h2>
        <% elsif bike.make != "" && bike.model == "" %>
          <h2 class="py-3">  <%= bike.make %> </h2>
        <% elsif bike.make == "" && bike.model != "" %>
          <h2 class="py-3"> <%= bike.model %> </h2>
        <% else %>
          <h2 class="py-3">My Bike</h2>
        <% end %>
      </div>

      <% bike.bike_components.each do |bike_component| %>
        <%= link_to bike_bike_component_path(bike, bike_component) do %>
        <div class="component-card">
          <div class="card-image-info-wrapper">
            <div class="component-card-image">
            <%= cl_image_tag(bike_component.component.icon.key, class:"bike-component-image") %>
            </div>
            <div class="progress-info">
              <h2> <%= bike_component.component.name %> </h2>
              <div class="progress-bar-text">
                  <% if bike_component.weeks_left > 2%>
                    <p> <%= bike_component.weeks_left.to_i %> weeks until check </p>
                  <% elsif bike_component.weeks_left > 0 && bike_component.weeks_left <= 2 %>
                    <p> <%= bike_component.days_left.to_i %> days until check </p>
                  <% else %>
                    <p>Check now! ⚠</p>
                  <% end %>
                </div>
            </div>
          </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= bike_component.time_progress_percentage %>%" aria-valuenow="<%= bike_component.time_progress_percentage %>" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
        </div>
        <% end %>
      <% end %>

      <p> <%= link_to "Add Component", new_bike_bike_component_path(bike) %> </p>
      <p> <%= link_to "Edit Bike", edit_bike_path(bike) %> </p>
      <p> <%= link_to "Add a Bike", new_bike_path %> </p>

    </div>
  </div>
  <% end %>
  </div>
</div>
