<div class="page-container">
  <% if current_user.bikes.count >= 1 %>
    <!-- Dropdown button for bikes -->
    <div class="dropdown text-center">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="bikeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Select Bike
      </button>
      <!-- Dropdown menu -->
      <ul class="dropdown-menu" aria-labelledby="bikeDropdown">
        <% @bikes.each_with_index do |bike, index| %>
          <li>
            <button class="dropdown-item <%= "active" if index == 0 %>" data-bs-toggle="pill" data-bs-target="#pills-<%= index %>" aria-controls="pills-<%= index %>" aria-selected="<%= index == 0 %>"><%= bike.model %></button>
          </li>
        <% end %>
        <!-- New Bike option -->
        <li>
          <a class="dropdown-item" href="<%= new_bike_path %>">Add New Bike</a>
        </li>
      </ul>

    <div class="tab-content" id="pills-tabContent">
      <% @bikes.each_with_index do |bike, index|  %>
        <div class="tab-pane fade show <%= "active" if index == 0 %>" id="pills-<%= index %>" role="tabpanel" aria-labelledby="pills-<%= index %>-tab" tabindex="0">

          <div class="bike-card">

            <div class="bike-name">
              <% if bike.make != "" && bike.model != "" %>
                <h2> <%= bike.make %> <%= bike.model %> </h2>
              <% elsif bike.make != "" && bike.model == "" %>
                <h2>  <%= bike.make %> </h2>
              <% elsif bike.make == "" && bike.model != "" %>
                <h2> <%= bike.model %> </h2>
              <% else %>
                <h2>My Bike</h2>
              <% end %>
              <div class="bike-options d-flex">
                <%= link_to edit_bike_path(bike), class: "text-decoration-none pen-icon" do %>
                  <i class="fa-solid fa-pen" style="margin-right: 3px;"></i>
                <% end %>
              </div>
            </div>

            <div class="bike-image-container">
              <% if bike.photo.attached? %>
                <%= cl_image_tag(bike.photo.key, class:"img-thumbnail") %>
              <% else %>
                <%= image_tag "https://i.etsystatic.com/19543171/r/il/f13c94/4513785165/il_fullxfull.4513785165_h290.jpg", :class => "img-thumbnail" %>
              <% end %>
            </div>

              <div class="d-flex justify-content-between">
                <p>Components:</p>
                <%= link_to new_bike_bike_component_path(bike), class: "align-icon text-decoration-none" do %>
                <i class="fa-solid fa-plus" style="margin-right: 3px;"></i>
                <% end %>
              </div>

            <% bike.bike_components.each do |bike_component| %>
              <%= link_to bike_bike_component_path(bike, bike_component) do %>
                <div class="component-card" data-controller="delete-check" data-delete-check-path-value='bike_components/<%= bike_component.id %>'>

                  <div class="card-image-info-wrapper">
                    <div class="component-card-image">
                      <% if bike_component.component.icon.present? %>
                      <%= cl_image_tag(bike_component.component.icon.key, class:"bike-component-image") %>
                      <% else %>
                      <%= image_tag "custom-component-icon.png", class:"bike-component-image" %>
                      <% end %>
                    </div>

                      <div class="progress-info">
                        <div class="component-name-and-delete">
                          <h2 style="color: #0D5D56;"> <%= bike_component.component.name %> </h2>
                          <div>
                            <button class="component-delete-button" data-action="click->delete-check#delete_component"><i class="fa-solid fa-xmark"></i></button>
                          </div>
                        </div>

                        <div class="progress-bar-text">
                            <p>Check every
                              <% if bike_component.component.time_until_check > 1 %>
                                <%= bike_component.component.time_until_check %> weeks
                              <% else %>
                                week
                              <% end %>
                               or <br /> every <%= bike_component.component.distance_until_check.round %> kilometers</p>
                        </div>
                      </div>
                  </div>



                  <div class="bars">
                    <div class="bar-names">
                      <p class="time-text"><% if bike_component.weeks_left > 1 %>
                            <p> <%= bike_component.weeks_left.to_i %> weeks</p>
                          <% elsif bike_component.weeks_left > 0 && bike_component.weeks_left <= 2 %>
                            <p> <%= bike_component.days_left.to_i %> days </p>
                          <% else %>
                            <p style="font-weight: bold; color: #C30010;">Check now!</p>
                          <% end %></p>
                      <p class="distance-text"><% distance_percentage = bike_component.distance_progress_percentage %>
                          <% if distance_percentage < 1%>
                            <p style="font-weight: bold; color: #C30010;">Check now!</p>
                          <% else %>
                            <p><%= bike_component.distance_left.round %> km</p>
                          <% end %></p>
                    </div>
                    <div class="progress-bars-container">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= bike_component.time_progress_percentage %>%" aria-valuenow="<%= bike_component.time_progress_percentage %>" aria-valuemin="0" aria-valuemax="100">
                        </div>
                      </div>

                      <div class="progress">
                        <div class="progress-bar" role="progressbar" data-progress-bar-target="distance_bar" style="width: <%= distance_percentage %>%" aria-valuenow="<%= distance_percentage %>" aria-valuemin="0" aria-valuemax="100">
                        </div>
                      </div>

                    </div>
                  </div>
              </div>
            <% end %>
          <% end %>

            </div>
          </div>
        <% end %>
    </div>


  <% else %>
    <h2 class="pt-4"> Get Started </h2>
    <h5> Your Garage is Empty </h5>

    <div class="Add-your-first-bike pt-4">
      <button class="green custom-btn"> <%= link_to "Add Your First Bike", new_bike_path%> </button>
    </div>

  <% end %>
</div>
